################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HealthCare/FileContentIndex/6e1c9e40-1e1c-4e27-81c1-d1c36378fa96.vsidx
/.vs/HealthCare/FileContentIndex/05d0148c-d222-4e24-9092-91cf3acae688.vsidx
/.vs/HealthCare/FileContentIndex/809cb477-3a00-43c9-8fbf-f3edf87b2ea0.vsidx
/.vs/HealthCare/FileContentIndex/b45f45ec-3d03-4dd6-97ea-71ea0f7c3074.vsidx
